* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f7f7f7;
  font-family: Roboto, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
}

#appdiv {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.logo {
  position: fixed;
  top: 2vmax;
  left: 2vmax;
  transition: top 0.5s ease, left 0.5s ease;
}

.logo img {
  width: 7vmax;
  transition: width 0.5s ease;
}

nav {
  position: fixed;
  top: 5vmax;
  left: 12vmax;
  display: flex;
  flex-direction: row;
  transition: top 0.5s ease, left 0.5s ease;
}

nav > div {
  margin-right: 1.5vw;
}

nav a,
nav a:visited {
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 700;
  color: #cccccc;
  letter-spacing: 2px;
  transition: color 1s;
}

nav a:hover {
  color: #aaa;
}

.home a.activeLink {
  color: #e8c092;
}

.docs a.activeLink {
  color: #cd7a60;
}

.demo a.activeLink {
  color: #d0a179;
}

.about a.activeLink {
  color: #ce8f69;
}

.contactUs a.activeLink {
  color: #a85b37;
}

.textContainer {
  width: 45vw;
  height: 100vh;
  border-left: 6px solid #fff;
  transition: borderColor 1s;
  position: absolute;
  right: 0;
  top: 0;
  padding: 2vmax;
  background-color: #fff;
  transition: border-color 1s ease;
  font-size: 18px;
  font-family: Roboto, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: #555;
  letter-spacing: 1px;
  line-height: 26px;
  overflow: auto;
  text-align: justify;
}

.textContainer h1 {
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  text-align: left;
}

.textContainer h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

.textContainer a,
.textContainer a:visited {
  font-weight: 400;
  text-decoration: none;
  color: #555;
}

.textContainer a:hover {
  color: #777;
}

.home.textContainer {
  border-color: #e8c092;
}

.docs.textContainer {
  border-color: #cd7a60;
}

.demo.textContainer {
  border-color: #d0a179;
}

.about.textContainer {
  border-color: #ce8f69;
}

.contactUs.textContainer {
  border-color: #a85b37;
}

.bigTitle {
  position: fixed;
  left: 4.5vmax;
  top: 30vh;
}

.bigTitle > .title {
  position: relative;
}

.title {
  font-size: 3vmax;
  font-weight: 200;
  z-index: 1;
}

.rect {
  position: absolute;
  right: 0;
  top: 2vh;
  height: 5vh;
  width: 20vw;
  transition: background-color 1s ease;
  background-color: #aaaaaa50;
}

.homerect {
  background-color: #e8c092;
}

.docsrect {
  background-color: #cd7a60;
}

.demorect {
  background-color: #d0a179;
}

.aboutrect {
  background-color: #ce8f69;
}

.contactUsrect {
  background-color: #a85b37;
}

.footer {
  font-size: 1vmax;
  font-weight: 400;
  color: #aaaaaa;
  position: fixed;
  left: 4.5vw;
  bottom: 5vh;
  transition: left 1s ease, bottom 1s ease;
}

.demo.footer {
  left: 1vmax;
  bottom: 1vh;
  background-color: #eee;
  padding: 3px 5px;
  border-radius: 3px;
  opacity: 0.5;
  color: #888;
  z-index: 5;
}

.demo.footer:hover {
  opacity: 1;
  user-select: none;
}

#desktopMessage {
  display: none;
}

.demoLogo {
  left: 0.5vmax;
  top: 0.5vmax;
}

.demoLogo.logo img {
  width: 4vmax;
}

nav.demoNav {
  top: 2vmax;
  left: 6vmax;
}

.json {
  font-size: 14px;
}

.json .header {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #555;
  color: #fff;
  padding: 3px 8px;
}

.json .body {
  font-family: "Courier New", Courier, monospace;
  white-space: pre;
  background-color: #777;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #fff;
  padding: 3px 8px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.form .twoFields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form label {
  color: #a85b37;
  font-size: 14px;
  font-family: "Trend Sans One", sans-serif;
  cursor: pointer;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form textarea {
  border: none;
  margin-top: 3px;
  margin-bottom: 5px;
  line-height: 18px;
  background-color: #efefef;
  border-radius: 3px;
  padding: 3px;
  color: #999;
  outline-color: #a85b37;
}

.form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;
}

.form .field button {
  background: none;
  border: none;
  cursor: pointer;
  outline-color: #a85b37;
}

.alignTop {
  display: flex;
  align-items: end;
}

.form .field button img {
  width: 30px;
}

button.submit {
  color: #fff;
  background-color: #a85b37;
  border-radius: 3px;
  border: none;
  padding: 8px 25px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Trend Sans One", sans-serif;
  outline-color: #a85b37;
}

.errorMessage {
  position: absolute;
  text-transform: uppercase;
  background-color: #ff3333;
  bottom: -25px;
  padding: 2px 10px;
  font-size: 12px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #fff;
  height: 30px;
  display: flex;
  align-items: center;
  white-space: pre;
  box-shadow: -2px 2px 3px #00000022;
}

.mandatory {
  color: #ff3333;
}

.captchImage {
  width: 200px;
  height: 75px;
}

.messageContainer {
  position: fixed;
  left: 15px;
  bottom: 15px;
  height: 65px;
  transition: bottom 1s ease;
  display: flex;
  flex-direction: row;
  padding: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  width: 450px;
  box-shadow: 2px 2px 8px #00000044;
}

.messageContainer .closeButton {
  display: flex;
  align-items: center;
}

.messageContainer .closeButton button {
  border: none;
  background: none;
  cursor: pointer;
}

.messageContainer .message {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 3px;
  text-overflow: ellipsis;
}

.SUCCESS {
  background-color: #06ae06;
}

.ERROR {
  background-color: #de0606;
}

.WARNING {
  background-color: #f0a152;
}

.INFORMATION {
  background-color: #3167bc;
}

.loginBack {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 800px;
  height: 700px;
  background-color: #ffffff44;
  box-shadow: 0px 0px 8px #00000022;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.login .loginLeft {
  width: 350px;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: relative;
}

.smallRect {
  position: absolute;
  width: 200px;
  height: 40px;
  top: 400px;
  right: 30px;
  background-color: #d0a179;
}

.login .loginRight {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginLogo {
  width: 200px;
  margin-bottom: 20px;
}

.login .form {
  height: 400px;
  width: 350px;
}

.login .submit {
  background-color: #d0a179;
}

.login .form input[type="text"],
.login .form input[type="password"],
.login .form input[type="email"],
.login .form textarea {
  outline-color: #d0a179;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #efefef inset !important;
}

.login .form label {
  color: #d0a179;
}

.browser {
}

.links {
  text-align: left;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.links button {
  background: none;
  border: none;
  flex-grow: 0;
  margin-bottom: 5px;
  text-align: left;
  font-size: 12px;
  padding: 0;
  cursor: pointer;
  color: #d0a179;
  outline-color: #d0a179;
}

.links .submit {
  outline-color: #d0a179;
}

.links button:hover {
  text-decoration: underline;
}

.fullscreenMessage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.demoContainer {
  padding-top: 85px;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.demoContainer * {
  outline-color: #7775;
}

.editor {
  flex: 1;
  border: 1px solid #eee;
}

.browser {
  width: 300px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
}

.list {
  flex: 1;
  overflow: auto;
  font-size: 13px;
  color: #555;
  padding: 4px;
}

.listItem {
  padding: 5px;
  cursor: pointer;
  border-radius: 2px;
}

.listItem.selected {
  background-color: #d0a179;
  color: #fff;
}

.listItem:hover {
  background-color: #f2c49b;
}

.demoContainer .filter {
  display: flex;
}

.demoContainer .filter input {
  margin-right: 3px;
}

.demoContainer input[type="text"] {
  border: none;
  font-size: 13px;
  padding: 4px;
  border-radius: 3px;
  background-color: #ddd;
  color: #777;
  flex: 1;
}

.demoContainer .header {
  height: 30px;
  background-color: #eee;
  display: flex;
  justify-content: left;
  align-items: center;
}

.demoContainer .title {
  display: inline-block;
  margin: 6px;
  font-size: 15px;
  text-transform: uppercase;
  color: #d1a279;
  font-weight: 500;
  user-select: none;
}

.demoContainer button.selected {
  color: #b87957;
  background-color: #bcbcbc;
}

.demoContainer button:hover {
  background-color: #fff;
}

.demoContainer button {
  background-color: #ddd;
  color: #d0a179;
  border: 1px;
  border-radius: 3px;
  padding: 4px 6px;
  cursor: pointer;
  height: 24px;
  width: 30px;
}

.popupBack {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #0003;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.popup {
  width: 25vw;
  max-height: 70vh;
  min-height: 25vh;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.popup .header {
  display: flex;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.popup .header .buttonContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

.popup .header button {
  background: none;
}

.popup .body {
  flex: 1;
  padding: 10px;
}

.popup .prompt {
  color: #aaa;
  font-weight: 500;
  margin-right: 5px;
}

.popup .popupFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.popup .popupFooter button {
  margin-right: 10px;
  text-transform: uppercase;
}

.editor {
  display: flex;
  flex-direction: column;
}

.editor .bodyDesigner.moving {
  cursor: grabbing;
}

.editor .bodyDesigner {
  position: absolute;
  width: 3000px;
  height: 3000px;
  background-color: #fff;
  background-size: 20px 20px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 0px),
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 0px);
}

.editor .body {
  flex: 1;
  overflow: auto;
  position: relative;
}

.editor .selector {
  fill: #d0a17966;
  stroke-width: 1;
  stroke: #d0a179;
}

.buttonGroup button {
  margin-right: 2px;
}
.buttonGroup {
  padding: 0px 5px 0px 2px;
  border-left: 3px double #aaa;
  /* border-style: double; */
  border-radius: 4px;
}

.editor .statement rect.box,
.editor .statement rect.selectBox {
  width: 46px;
  height: 46px;
  border-radius: 10px;
  stroke-width: 2px;
  fill: #ffffff70;
  cursor: pointer;
  stroke: #a85b37;
  transform: translate(-23px, -23px);
}

.editor .statement rect.selectBox {
  width: 36px;
  height: 36px;
  transform: translate(-18px, -18px);
  pointer-events: none;
  stroke-dasharray: 28 21 18 0;
}

.editor .inPort,
.editor .outPort {
  fill: #fff;
  stroke: #a85b37;
  stroke-width: 2px;
}

.editor .statement rect.box:hover {
  stroke-width: 5px;
}

.editor .statement text.nodeTitle {
  text-anchor: middle;
  transform: translate(0px, -33px);
  fill: #555;
  font-size: 13px;
  cursor: pointer;
  pointer-events: none;
}

.editor .statement rect.titleBack {
  width: 70px;
  height: 20px;
  border-radius: 10px;
  fill: #aaaaaa80;
  transform: translate(-35px, -48px);
  cursor: pointer;
}

.editor .statement.selected rect {
  stroke-dasharray: 3 3;
}

/* Statement Colors */

.editor .statement.ASSERT rect.box,
.editor .statement.ASSERT rect.selectBox,
.editor .statement.ASSERT .inPort,
.editor .statement.ASSERT .outPort {
  stroke: #f1d8bc;
}
.editor .statement.ASSERT rect.titleBack {
  width: 80px;
  transform: translate(-40px, -48px);
}
.editor .statement.BREAK rect.box,
.editor .statement.BREAK rect.selectBox,
.editor .statement.BREAK .inPort,
.editor .statement.BREAK .outPort {
  stroke: #dfa868;
}
.editor .statement.BREAK rect.titleBack {
  width: 70px;
  transform: translate(-35px, -48px);
}
.editor .statement.CATCH rect.box,
.editor .statement.CATCH rect.selectBox,
.editor .statement.CATCH .inPort,
.editor .statement.CATCH .outPort {
  stroke: #efc08b;
}
.editor .statement.CATCH rect.titleBack {
  width: 70px;
  transform: translate(-35px, -48px);
}
.editor .statement.CASE rect.box,
.editor .statement.CASE rect.selectBox,
.editor .statement.CASE .inPort,
.editor .statement.CASE .outPort {
  stroke: #e1c099;
}
.editor .statement.CASE rect.titleBack {
  width: 60px;
  transform: translate(-30px, -48px);
}
.editor .statement.CONTINUE rect.box,
.editor .statement.CONTINUE rect.selectBox,
.editor .statement.CONTINUE .inPort,
.editor .statement.CONTINUE .outPort {
  stroke: #ffd9ab;
}
.editor .statement.CONTINUE rect.titleBack {
  width: 100px;
  transform: translate(-50px, -48px);
}
.editor .statement.END rect.box,
.editor .statement.END rect.selectBox,
.editor .statement.END .inPort,
.editor .statement.END .outPort {
  stroke: #a85b37;
}
.editor .statement.END rect.titleBack {
  width: 50px;
  transform: translate(-25px, -48px);
}
.editor .statement.ELSE rect.box,
.editor .statement.ELSE rect.selectBox,
.editor .statement.ELSE .inPort,
.editor .statement.ELSE .outPort {
  stroke: #e8c092;
}
.editor .statement.ELSE rect.titleBack {
  width: 60px;
  transform: translate(-30px, -48px);
}
.editor .statement.ELSEIF rect.box,
.editor .statement.ELSEIF rect.selectBox,
.editor .statement.ELSEIF .inPort,
.editor .statement.ELSEIF .outPort {
  stroke: #ceaa81;
}
.editor .statement.ELSEIF rect.titleBack {
  width: 80px;
  transform: translate(-40px, -48px);
}
.editor .statement.EXPRESSION rect.box,
.editor .statement.EXPRESSION rect.selectBox,
.editor .statement.EXPRESSION .inPort,
.editor .statement.EXPRESSION .outPort {
  stroke: #deb688;
}
.editor .statement.EXPRESSION rect.titleBack {
  width: 120px;
  transform: translate(-60px, -48px);
}
.editor .statement.FINALLY rect.box,
.editor .statement.FINALLY rect.selectBox,
.editor .statement.FINALLY .inPort,
.editor .statement.FINALLY .outPort {
  stroke: #dab284;
}
.editor .statement.FINALLY rect.titleBack {
  width: 90px;
  transform: translate(-45px, -48px);
}
.editor .statement.FUNCTION rect.box,
.editor .statement.FUNCTION rect.selectBox,
.editor .statement.FUNCTION .inPort,
.editor .statement.FUNCTION .outPort {
  stroke: #c5734d;
}
.editor .statement.FUNCTION rect.titleBack {
  width: 100px;
  transform: translate(-50px, -48px);
}
.editor .statement.IF rect.box,
.editor .statement.IF rect.selectBox,
.editor .statement.IF .inPort,
.editor .statement.IF .outPort {
  stroke: #82462a;
}
.editor .statement.IF rect.titleBack {
  width: 40px;
  transform: translate(-20px, -48px);
}
.editor .statement.LOOP rect.box,
.editor .statement.LOOP rect.selectBox,
.editor .statement.LOOP .inPort,
.editor .statement.LOOP .outPort {
  stroke: #c17450;
}
.editor .statement.LOOP rect.titleBack {
  width: 60px;
  transform: translate(-30px, -48px);
}
.editor .statement.START rect.box,
.editor .statement.START rect.selectBox,
.editor .statement.START .inPort,
.editor .statement.START .outPort {
  stroke: #e8c092;
}
.editor .statement.START rect.titleBack {
  width: 70px;
  transform: translate(-35px, -48px);
}
.editor .statement.SWITCH rect.box,
.editor .statement.SWITCH rect.selectBox,
.editor .statement.SWITCH .inPort,
.editor .statement.SWITCH .outPort {
  stroke: #fd8953;
}
.editor .statement.SWITCH rect.titleBack {
  width: 80px;
  transform: translate(-40px, -48px);
}
.editor .statement.THEN rect.box,
.editor .statement.THEN rect.selectBox,
.editor .statement.THEN .inPort,
.editor .statement.THEN .outPort {
  stroke: #d27245;
}
.editor .statement.THEN rect.titleBack {
  width: 60px;
  transform: translate(-30px, -48px);
}
.editor .statement.THROW rect.box,
.editor .statement.THROW rect.selectBox,
.editor .statement.THROW .inPort,
.editor .statement.THROW .outPort {
  stroke: #bb7f63;
}
.editor .statement.THROW rect.titleBack {
  width: 70px;
  transform: translate(-35px, -48px);
}
.editor .statement.TRY rect.box,
.editor .statement.TRY rect.selectBox,
.editor .statement.TRY .inPort,
.editor .statement.TRY .outPort {
  stroke: #a85b37;
}
.editor .statement.TRY rect.titleBack {
  width: 50px;
  transform: translate(-25px, -48px);
}
.editor .statement.WHILESTART rect.box,
.editor .statement.WHILESTART rect.selectBox,
.editor .statement.WHILESTART .inPort,
.editor .statement.WHILESTART .outPort {
  stroke: #5d321e;
}
.editor .statement.WHILESTART rect.titleBack {
  width: 120px;
  transform: translate(-60px, -48px);
}
.editor .statement.WHILEEND rect.box,
.editor .statement.WHILEEND rect.selectBox,
.editor .statement.WHILEEND .inPort,
.editor .statement.WHILEEND .outPort {
  stroke: #d8b6a6;
}
.editor .statement.WHILEEND rect.titleBack {
  width: 100px;
  transform: translate(-50px, -48px);
}
.editor .statement.UNKNOWN rect.box,
.editor .statement.UNKNOWN rect.selectBox,
.editor .statement.UNKNOWN .inPort,
.editor .statement.UNKNOWN .outPort {
  stroke: #aaaaaa;
}
.editor .statement.UNKNOWN rect.titleBack {
  width: 90px;
  transform: translate(-45px, -48px);
}

/* Statement Colors End*/

.editor .ctxMenuBack {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 4;
}

.editor .ctxMenu {
  position: absolute;
  background: #fffa;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 2px;
  box-shadow: 1px 1px 4px 0px #ddd;
}

.editor .ctxMenu.groups {
  display: flex;
  flex-direction: row;
}

.editor .ctxMenugroup {
  padding-left: 5px;
  padding-right: 5px;
}

.editor .ctxMenuItem {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #555;
  font-size: 12px;
  cursor: pointer;
  border-radius: 3px;
}

.editor .ctxMenu.groups.statements .ctxMenuItem {
  text-align: center;
  border-radius: 14px;
  padding-left: 8px;
  padding-right: 8px;
}

.editor .ctxMenuItem:hover,
.editor .ctxMenuItem.selected {
  background-color: #ccc;
}

@media only screen and (max-width: 900px) {
  #appdiv {
    display: none;
  }

  #desktopMessage {
    display: block;
    width: 100vw;
    height: 100vh;
    font-size: 25px;
    font-weight: 400;
    padding-top: 45vh;
    text-align: center;
    color: #aaaaaa;
  }
}

@media only screen and (min-width: 1100px) {
  nav a,
  nav a:visited {
    font-size: 15px;
  }

  .footer {
    font-size: 12px;
  }
}

/* Icons */
svg.kicon {
  width: 100%;
  height: 100%;
}
