* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f7f7f7;
  font-family: Roboto, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  overflow: hidden;
}

#appdiv {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.logo {
  position: fixed;
  top: 2vmax;
  left: 2vmax;
  transition: top 0.5s ease, left 0.5s ease;
}

.logo img {
  width: 7vmax;
  transition: width 0.5s ease;
}

nav {
  position: fixed;
  top: 5vmax;
  left: 12vmax;
  display: flex;
  flex-direction: row;
  transition: top 0.5s ease, left 0.5s ease;
}

nav > div {
  margin-right: 1.5vw;
}

nav a,
nav a:visited {
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 700;
  color: #cccccc;
  letter-spacing: 2px;
  transition: color 1s;
}

nav a:hover {
  color: #aaa;
}

.home a.activeLink {
  color: #e8c092;
}

.docs a.activeLink {
  color: #cd7a60;
}

.demo a.activeLink {
  color: #d0a179;
}

.about a.activeLink {
  color: #ce8f69;
}

.contactUs a.activeLink {
  color: #a85b37;
}

.textContainer {
  width: 45vw;
  height: 100vh;
  border-left: 6px solid #fff;
  transition: borderColor 1s;
  position: absolute;
  right: 0;
  top: 0;
  padding: 2vmax;
  background-color: #fff;
  transition: border-color 1s ease;
  font-size: 18px;
  font-family: Roboto, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: #555;
  letter-spacing: 1px;
  line-height: 26px;
  overflow: auto;
  text-align: justify;
}

.textContainer h1 {
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  text-align: left;
}

.textContainer h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

.textContainer a,
.textContainer a:visited {
  font-weight: 400;
  text-decoration: none;
  color: #555;
}

.textContainer a:hover {
  color: #777;
}

.home.textContainer {
  border-color: #e8c092;
}

.docs.textContainer {
  border-color: #cd7a60;
}

.demo.textContainer {
  border-color: #d0a179;
}

.about.textContainer {
  border-color: #ce8f69;
}

.contactUs.textContainer {
  border-color: #a85b37;
}

.bigTitle {
  position: fixed;
  left: 4.5vmax;
  top: 30vh;
}

.bigTitle > .title {
  position: relative;
}

.title {
  font-size: 3vmax;
  font-weight: 200;
  z-index: 1;
}

.rect {
  position: absolute;
  right: 0;
  top: 2vh;
  height: 5vh;
  width: 20vw;
  transition: background-color 1s ease;
  background-color: #aaaaaa50;
}

.homerect {
  background-color: #e8c092;
}

.docsrect {
  background-color: #cd7a60;
}

.demorect {
  background-color: #d0a179;
}

.aboutrect {
  background-color: #ce8f69;
}

.contactUsrect {
  background-color: #a85b37;
}

.footer {
  font-size: 1vmax;
  font-weight: 400;
  color: #aaaaaa;
  position: fixed;
  left: 4.5vw;
  bottom: 5vh;
  transition: left 1s ease, bottom 1s ease;
}

.demo.footer {
  left: 1vmax;
  bottom: 1vh;
  background-color: #eee;
  padding: 3px 5px;
  border-radius: 3px;
  opacity: 0.5;
  color: #888;
  z-index: 5;
}

.demo.footer:hover {
  opacity: 1;
  user-select: none;
}

#desktopMessage {
  display: none;
}

.demoLogo {
  left: 0.5vmax;
  top: 0.5vmax;
}

.demoLogo.logo img {
  width: 4vmax;
}

nav.demoNav {
  top: 2vmax;
  left: 6vmax;
}

.json {
  font-size: 14px;
}

.json .header {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #555;
  color: #fff;
  padding: 3px 8px;
}

.json .body {
  font-family: "Courier New", Courier, monospace;
  white-space: pre;
  background-color: #777;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #fff;
  padding: 3px 8px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.form .twoFields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form label {
  color: #a85b37;
  font-size: 14px;
  font-family: "Trend Sans One", sans-serif;
  cursor: pointer;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form textarea {
  border: none;
  margin-top: 3px;
  margin-bottom: 5px;
  line-height: 18px;
  background-color: #efefef;
  border-radius: 3px;
  padding: 3px;
  color: #999;
  outline-color: #a85b37;
}

.form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;
}

.form .field button {
  background: none;
  border: none;
  cursor: pointer;
  outline-color: #a85b37;
}

.alignTop {
  display: flex;
  align-items: end;
}

.form .field button img {
  width: 30px;
}

button.submit {
  color: #fff;
  background-color: #a85b37;
  border-radius: 3px;
  border: none;
  padding: 8px 25px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Trend Sans One", sans-serif;
  outline-color: #a85b37;
}

.errorMessage {
  position: absolute;
  text-transform: uppercase;
  background-color: #ff3333;
  bottom: -25px;
  padding: 2px 10px;
  font-size: 12px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #fff;
  height: 30px;
  display: flex;
  align-items: center;
  white-space: pre;
  box-shadow: -2px 2px 3px #00000022;
}

.mandatory {
  color: #ff3333;
}

.captchImage {
  width: 200px;
  height: 75px;
}

.messageContainer {
  position: fixed;
  left: 15px;
  bottom: 15px;
  height: 65px;
  transition: bottom 1s ease;
  display: flex;
  flex-direction: row;
  padding: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  width: 450px;
  box-shadow: 2px 2px 8px #00000044;
}

.messageContainer .closeButton {
  display: flex;
  align-items: center;
}

.messageContainer .closeButton button {
  border: none;
  background: none;
  cursor: pointer;
}

.messageContainer .message {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 3px;
  text-overflow: ellipsis;
}

.SUCCESS {
  background-color: #06ae06;
}

.ERROR {
  background-color: #de0606;
}

.WARNING {
  background-color: #f0a152;
}

.INFORMATION {
  background-color: #3167bc;
}

.loginBack {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 800px;
  height: 700px;
  background-color: #ffffff44;
  box-shadow: 0px 0px 8px #00000022;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.login .loginLeft {
  width: 350px;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: relative;
}

.smallRect {
  position: absolute;
  width: 200px;
  height: 40px;
  top: 400px;
  right: 30px;
  background-color: #d0a179;
}

.login .loginRight {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginLogo {
  width: 200px;
  margin-bottom: 20px;
}

.login .form {
  height: 400px;
  width: 350px;
}

.login .submit {
  background-color: #d0a179;
}

.login .form input[type="text"],
.login .form input[type="password"],
.login .form input[type="email"],
.login .form textarea {
  outline-color: #d0a179;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #efefef inset !important;
}

.login .form label {
  color: #d0a179;
}

.browser {
}

.links {
  text-align: left;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.links button {
  background: none;
  border: none;
  flex-grow: 0;
  margin-bottom: 5px;
  text-align: left;
  font-size: 12px;
  padding: 0;
  cursor: pointer;
  color: #d0a179;
  outline-color: #d0a179;
}

.links .submit {
  outline-color: #d0a179;
}

.links button:hover {
  text-decoration: underline;
}

.fullscreenMessage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.demoContainer {
  padding-top: 85px;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.demoContainer * {
  outline-color: #7775;
}

.editor {
  flex: 1;
  border: 1px solid #eee;
}

.browser {
  width: 300px;
  border: 1px solid #eee;
}

.demoContainer .filter {
  display: flex;
}

.demoContainer .filter input {
  margin-right: 3px;
}

.demoContainer input[type="text"] {
  border: none;
  font-size: 13px;
  padding: 4px;
  border-radius: 3px;
  background-color: #ddd;
  color: #777;
  flex: 1;
}

.demoContainer .header {
  height: 30px;
  background-color: #eee;
}

.demoContainer .title {
  display: inline-block;
  margin: 6px;
  font-size: 15px;
  text-transform: uppercase;
  color: #d1a279;
  font-weight: 500;
  user-select: none;
}

.demoContainer button:hover {
  background-color: #fff;
}

.demoContainer button {
  background-color: #ddd;
  color: #d0a179;
  border: 1px;
  border-radius: 3px;
  padding: 4px 6px;
  cursor: pointer;
}

.popupBack {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #0003;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.popup {
  width: 25vw;
  max-height: 70vh;
  min-height: 25vh;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.popup .header {
  display: flex;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.popup .header .buttonContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

.popup .header button {
  background: none;
}

.popup .body {
  flex: 1;
  padding: 10px;
}

.popup .prompt {
  color: #aaa;
  font-weight: 500;
  margin-right: 5px;
}

.popup .popupFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.popup .popupFooter button {
  margin-right: 10px;
  text-transform: uppercase;
}

.editor {
  display: flex;
  flex-direction: column;
}

.editor .bodyDesigner.moving {
  cursor: grabbing;
}

.editor .bodyDesigner {
  position: absolute;
  width: 3000px;
  height: 3000px;
  background-color: #fff;
  background-size: 20px 20px;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.05) 1px,
      transparent 0px
    ),
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 0px);
}

.editor .body {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.editor .selector {
  position: absolute;
  background-color: #d0a17966;
  border: 1px solid #d0a179;
  width: 5px;
  height: 5px;
}

@media only screen and (max-width: 900px) {
  #appdiv {
    display: none;
  }

  #desktopMessage {
    display: block;
    width: 100vw;
    height: 100vh;
    font-size: 25px;
    font-weight: 400;
    padding-top: 45vh;
    text-align: center;
    color: #aaaaaa;
  }
}

@media only screen and (min-width: 1100px) {
  nav a,
  nav a:visited {
    font-size: 15px;
  }

  .footer {
    font-size: 12px;
  }
}
