@font-face {
  font-family: "Trend Sans One";
  src: url("//db.onlinewebfonts.com/t/83e4a6b639612cd501853be5a7cf97ab.eot");
  src: url("//db.onlinewebfonts.com/t/83e4a6b639612cd501853be5a7cf97ab.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/83e4a6b639612cd501853be5a7cf97ab.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/83e4a6b639612cd501853be5a7cf97ab.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/83e4a6b639612cd501853be5a7cf97ab.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/83e4a6b639612cd501853be5a7cf97ab.svg#Trend Sans One")
      format("svg");
}

.darkBackground {
  background-color: #064a5a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Trend Sans One", sans-serif;
  color: #064a5a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fbfbfb;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.slide {
  width: 100vw;
}

.content {
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 2vh;
  min-height: calc(100vh - 330px);
  display: flex;
  flex-direction: column;
}

.content > h1 {
  margin-top: 0px;
}

.firstscreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  padding-bottom: 5vh;
  color: #53a8bc;
  font-size: 8vh;
  letter-spacing: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subTitle {
  font-size: 3vh;
  color: #0d6e84;
  text-align: center;
}

.footerTitle {
  font-size: 25px;
  color: 0d6e84;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.logoContainer {
  padding-bottom: 3vh;
}

.logoContainer img {
  width: 40vmin;
}

.footerContainer {
  min-height: 250px;
  background-color: #064a5a;
  padding-left: 20vw;
  padding-right: 20vw;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  color: #ddd;
  align-items: flex-end;
  padding-top: 25px;
}

.footer a,
.footer a:visited {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
  text-decoration: none;
}

.footerText {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-bottom: 1px solid #53a8bc;
  padding-bottom: 30px;
  padding-left: 30px;
}

.footerImage {
  flex: 1;
  text-align: right;
  border-bottom: 1px solid #53a8bc;
  padding-bottom: 30px;
  padding-right: 30px;
}

.footerImage img {
  height: 120px;
}

nav {
  height: 80px;
  width: 100vw;
  display: flex;
  background-color: #edf0f1;
  padding-left: 20vw;
  padding-right: 20vw;
  display: flex;
  align-items: center;
}

nav img {
  height: 50px;
}

nav .subTitle {
  font-size: 35px;
  padding: 0;
  padding-left: 20px;
}

nav .subTitle a,
nav .subTitle a:hover,
nav .subTitle a:visited {
  text-decoration: none;
  color: #0d6e84;
  font-size: 30px;
}

nav a,
nav a:hover,
nav a:visited {
  text-decoration: none;
  color: #064a5a80;
  font-size: 16px;
  margin-left: 15px;
}

nav .menu a:hover {
  color: #064a5a;
}

nav .menu,
nav .mobilemenu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navContainer {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.paddedBody {
  padding-top: 80px;
}

.content p {
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 200;
  line-height: 30px;
  text-align: justify;
}

p > a,
p > a:visited,
p > a:hover {
  text-decoration: none;
  color: #000;
}

p > a:hover {
  font-weight: 400;
}

.container p {
  text-align: center;
}

.navPosts {
  position: fixed;
  left: 0;
  top: 80px;
  width: 20vw;
  height: calc(100vh - 330px);
  overflow: auto;
  padding-top: 2vh;
  z-index: 1;
}

.navPosts ul {
  list-style: none;
  padding-left: 25px;
  margin: 0px;
}

.navPosts ul a,
.navPosts ul a:hover,
.navPosts ul a:visited {
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 24px;
  color: #064a5a;
  font-weight: 300;
}

.navPosts ul a:hover {
  color: #53a8bc;
}

.navPosts li.selected a {
  font-weight: 600;
  color: #53a8bc;
}

.contact {
  padding: 1vh;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;
}

.form label {
  color: #53a8bc;
  font-size: 14px;
  font-family: "Trend Sans One", sans-serif;
  cursor: pointer;
}

.form label:hover {
  color: #064a5a;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  border: none;
  margin-top: 3px;
  margin-bottom: 5px;
  line-height: 18px;
  background-color: #efefef;
  outline: none;
  border-radius: 3px;
  padding: 3px;
  color: #999;
}

.close {
  text-align: right;
}

.close span {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #efefef;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.close span::before {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  left: 7px;
  top: 8px;
  border-left: 2px solid #ddd;
  transform: rotate(45deg);
}

.close span::after {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  left: -1px;
  top: 7px;
  border-top: 2px solid #ddd;
  transform: rotate(45deg);
}

.close span:hover::before,
.close span:hover::after {
  border-color: #064a5a;
}

.close span:hover {
  background-color: #fbfbfb;
}

button {
  color: #fff;
  background-color: #53a8bc;
  border-radius: 3px;
  border: none;
  padding: 8px 25px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Trend Sans One", sans-serif;
}

button:hover {
  background-color: #064a5a;
}

#feedback {
  color: #a4d0d8;
  font-size: 14px;
  font-family: "Trend Sans One", sans-serif;
  cursor: pointer;
}

#feedback:hover {
  color: #064a5a;
}

.mandatory {
  color: #ff3333;
}

.errorMessage {
  position: absolute;
  text-transform: uppercase;
  background-color: #ff3333;
  bottom: -14px;
  padding: 2px 10px;
  font-size: 12px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #fff;
  display: none;
}

/* Mouse Scroll */

.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  margin-top: 10vmin;
  cursor: pointer;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);

  border-right: 2px solid #0d6e84;
  border-bottom: 2px solid #0d6e84;
  margin: 0 0 3px 4px;

  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.2s;
  animation-direction: alternate;

  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.3s;
  animation-direction: alternate;

  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid #53a8bc;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;

  height: 4px;
  width: 4px;
  border: 2px solid #0d6e84;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-o-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* mobile first */

nav .mobilemenu {
  display: none;
}

nav .close {
  display: none;
}

.menuIcon {
  display: inline-block;
}

.menuIcon span {
  display: block;
  border: 2px solid #0d6e84;
  height: 4px;
  margin: 4px;
  width: 24px;
  border-radius: 1px;
}

.navPostsIcon {
  display: none;
}

@media only screen and (max-width: 750px) {
  nav .menu {
    display: none;
    position: fixed;
    background-color: #edf0f1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    padding: 2vh;
    flex-direction: column;
  }

  nav .close {
    display: block;
    position: fixed;
    top: 4vh;
    right: 4vw;
  }

  nav .menu a {
    margin-bottom: 2vh;
  }

  nav .mobilemenu {
    display: block;
    text-align: right;
    cursor: pointer;
  }

  .content,
  .footerContainer,
  nav {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .navPosts {
    display: none;
    z-index: 2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    left: 0;
    top: 0;
  }

  .navPostsIcon {
    display: block;
    position: fixed;
    border-radius: 2px;
    width: 24px;
    height: 26px;
    left: 0;
    top: 80px;
    opacity: 0.4;
    padding: 5px;
  }

  .navPostsIcon span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #064a5a;
    margin-bottom: 2px;
    cursor: pointer;
  }

  .navPostsIcon span:nth-child(2),
  .navPostsIcon span:nth-child(3),
  .navPostsIcon span:nth-child(5) {
    margin-left: 3px;
  }
}
