:host {
  display: block;
  width: 100%;
  height: 100%;
}

.KERoot {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #99999b;
}

.KERoot .bodyContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.KERoot .bodyDesignerContainer {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.KERoot .bodyDesigner {
  position: absolute;
  width: 10000px;
  height: 10000px;
  background-color: #212121;
  background-size: 10px 10px;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 0px), linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 0px);
  cursor: grab;
}

.KERoot .bodyDesigner.moving {
  cursor: grabbing;
}

.KERoot .rightBar {
  width: 300px;
  background-color: #2a2a2b;
}

.KERoot .toolbar {
  min-height: 40px;
  display: block;
}

.KERoot.dark .toolbar {
  background-color: #333333;
}

/* Light theme */
.KERoot.light .toolbar {
  background-color: #f5f5f5;
}

/* Light theme */

.KERoot.light .rightBar {
  background-color: #efefef;
}

.KERoot.light .bodyDesigner {
  background-color: #ffffff;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 0px), linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 0px);
}
